<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Love Diary Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

</head>

<body>
  <a href='{% url 'delete' postkey=posting.pk%}'>
    <button>삭제</button>
  </a>
  <div class="page-header">
  </div>
  <div class="container posting">
    <h2>{{posting.update_date}}</h2>
    <p> {{posting.text}} </p>
  </div>
</body>
</html>
